body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 12pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
  border-top: 1px solid #81B8D6;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
    display: none;
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
  border: 4px solid #6FACCF;
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
      border-radius: 4px;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 15px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 25px;
	text-decoration: underline;
    background: #B2E3FF;
 
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

.foto_wrp{
	width: 200px;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}
.order_foto{
	width: 200px;
    border: 4px solid #BBB4B4;
}
.order_foto_min{
	width: 100px;
	height: 100px;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    border: 1px solid #BBB4B4;
}
.del_foto {
	display: inline-block;
    padding: 5px;
    background: #D05858;
    width: 90px;
    color: #fff;
    margin: 5px 0;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
  font-size: 13px;
}
.del_foto:hover{
	background: #c00;
	color: #fff;
}
.show_foto{
	display: inline-block;
    padding: 5px;
    background: #27cb4d;
    width: 85px;
    color: #fff;
    margin: 5px 2px 0 0;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
  font-size: 13px;
}
.show_foto:hover{
	background: #26aa58;
	color: #fff;
}

.reg_btn{
    background: #08A506;
    padding: 5px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}
.reg_btn:hover{color: #fff;}
.subm_btn{
	padding: 5px 20px;
    background-color: #FFC522;
    border-radius: 4px;
    border: 1px solid #D49C00;
    color:#000;
    font-style: italic;
    text-decoration: none;
}
.subm_btn:hover{
	color:#000;
	background-color:#FFB020;
	font-style: italic;
    text-decoration: none;
}
.usr_btn{
	background-color:#FF9800;
	font-style: italic;
    text-decoration: none;
}
.usr_btn:hover{
	background-color:#FF6A00;
	font-style: italic;
    text-decoration: none;
}
.content{
	padding: 20px 0;
}
.stat_tbl{
	    width: 50%;
	    border: 1px solid #559DC7;
}
.stat_tbl td{
	padding: 10px;
}
.frst_tr{
	background: #C9E0ED;
}
.sec_tr{
	background: #EFEFEF;
}
.ord_compl{
	background: yellowgreen;
}
.ord_inwrk{
	background: #FDF058;
}
.form_info{
	color: #A7A9A4;
    font-size: 0.8em;
}
.view  table,.view table td{
	border: 1px solid #A7A4A4;
}